asgiref==3.2.10
certifi==2020.11.8
chardet==3.0.4
Django==3.1.1
django-cors-headers==3.4.0
django-filter==2.3.0
djangorestframework==3.11.0
djangorestframework-jwt==1.11.0
idna==2.10
psycopg2-binary==2.8.5
PyJWT==1.7.1
pytz==2020.1
requests==2.25.0
six==1.15.0
sqlparse==0.3.1
twilio==6.47.0
urllib3==1.26.1
